<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Links App</h1>
            <h3 class="mb-5">
                <em>Almacena tus enlaces favoritos</em>
            </h3>
            <a href="/authentication/signin" class="btn btn-dark">
                Vamos a empezar
            </a>
        </div>
    </header>
</main>